# Don't try to do inline comments.  Things break.

# Ignore secrets
/.env
/*.env
/*.env-*

# Ignore "ignoreme"
.ignoreme
/.ignoreme
/.ignoreme/**

# Ignore clutter from VSCode
.vscode
/.vscode
/.vscode/**

# Ignore clutter from Netlify CLI
.netlify
/.netlify
/.netlify/**

# Ignore "node_modules"
/node_modules/
/node_modules/**

# Ignore "dist", my static output folder
/dist/
/dist/**

# Ignore most of the Netlify Function stuff that 11ty serverless's plugin builds (regenerate it with "npm run build" if you delete it)
netlify/functions/firstrequestrender/*
!netlify/functions/firstrequestrender/index.js
netlify/functions/alwaysrerender/*
!netlify/functions/alwaysrerender/index.js