<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }} | Serverless functions experiment</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />
  </head>
  <body>
    {{ content }}
  </body>
</html>