---
layout: "layouts/standard_header_footer.liquid"
permalink:
    firstrequestrender: "/slessposter/"
tags: ["pages"]
---

<h1 class="pb-4 text-3xl font-bold leading-none tracking-tight text-gray-900">I am "render-on-first-visit" page.</h1>

<p>I was rendered at {% nowstampstring %}.</p>

<p>This shouldn't change when you reload the page, or visit from a new browser, but it shouldn't match the home page.</p>

<p>OH NO!  The sitemap only includes this page!  There's no way home!</p>