---
layout: "layouts/standard_header_footer.liquid"
permalink:
    build: "/index.html"
tags: ["pages"]
---

<h1 class="pb-4 text-3xl font-bold leading-none tracking-tight text-gray-900">I am the home page; my HTML was built at site-publish-time <i>({% nowstampstring %})</i>.</h1>